
.navbar {
  color: white;
  display: flex;
  height: 70px;
  font-size: 20px;
  padding: 0px 15px !important;
}

.nav-item {
  margin: 0px 10px;
}


.site-title {
  font-size: 2rem;
}

#mapPhoto {
  position:relative;
  width: 45vw;
  height: 45vh;
  object-fit: cover;
  margin: auto;
}

/*
.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

*/

h1 {
  position: relative;
  font-size: 4vw;
  padding: 15px 0px;
  margin: 0px;
}

.col-6 {
  padding: 10px;
}

.dropdown-toggle::after {
  display:none;
}